@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 25% 90%;
    --foreground: 0 0% 7%;

    --card: 60 25% 80%;
    --card-foreground: 0 0% 7%;

    --popover: 60 25% 95%;
    --popover-foreground: 0 0% 7%;

    --primary: 60 100% 50%;
    --primary-foreground: 0 0% 7%;

    --secondary: 60 25% 60%;
    --secondary-foreground: 0 0% 7%;

    --muted: 60 25% 70%;
    --muted-foreground: 0 0% 40%;

    --accent: 60 100% 70%;
    --accent-foreground: 0 0% 7%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 60 25% 50%;
    --input: 60 25% 80%;

    --ring: 60 100% 50%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 60 25% 90%;
    --foreground: 0 0% 7%;

    --card: 60 25% 80%;
    --card-foreground: 0 0% 7%;

    --popover: 60 25% 95%;
    --popover-foreground: 0 0% 7%;

    --primary: 60 100% 50%;
    --primary-foreground: 0 0% 7%;

    --secondary: 60 25% 60%;
    --secondary-foreground: 0 0% 7%;

    --muted: 60 25% 70%;
    --muted-foreground: 0 0% 80%;

    --accent: 60 100% 70%;
    --accent-foreground: 0 0% 7%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 100%;

    --border: 60 25% 50%;
    --input: 60 25% 80%;

    --ring: 60 100% 50%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  .gradient-text {
    @apply bg-gradient-to-r from-indigo-500 via-pink-400 to-orange-500 text-transparent bg-clip-text;
  }
}
